html,
body,
hr {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "sans-serif";
    font-weight: 500;
}

.background {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.title {
    margin-bottom: 20px;
}

.outer {
    width: 400px;
    height: 430px;
    padding: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
}

.inner {
    width: 100%;
    height: 100%;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.greeting {
    margin-bottom: 20px;
    text-align: center;
    color: #666666;
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #999;
    font-size: 14px;
}

.info p {
    margin: 0;
    padding-bottom: 3px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button:hover {
    cursor: pointer;
}

.restore {
    width: 50%;
    height: 40px;
    margin-bottom: 30px;
    border: 1px solid #11967f;
    border-radius: 30px;
    background-color: #fff;
    color: #11967f;
    font-weight: 600;
}

.go-home {
    width: 100%;
    height: 56px;
    background-color: #11967f;
    border: 1px solid #11967f;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
}

.small-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.small-modal-border {
    width: 360px;
    height: 160px;
    margin: 15% auto auto;
    background-color: #fff;
    border-radius: 12px;
}

.small-modal-content {
    width: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

#small-modal-ok {
    display: block;
    width: 100%;
    height: 57px;
    border-radius: 12px;
    background-color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #11967f;
}

.small-modal-buttons button:hover {
    cursor: pointer;
}