body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgb(243, 216, 216);
    top: 0;
    position: sticky;
    z-index: 321;
}

footer {
    height: 300px;
    background-color: rgb(243, 216, 216);
}

section {
    margin: 0 auto;
    width: 70%;
    position: relative;
}

h2 {
    margin-top: 0;
    padding: 30px 0;
    text-align: center;
}

.caution {
    color: rgb(240, 63, 64);
}

.info-type1 {
    margin-bottom: 100px;
}

.info-type1-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-type1-title a {
    display: flex;
}

.item-list {
    display: flex;
}

#order-goods {
    text-align: center;
}

.info-type2 {
    display: flex;
}

.info-type2 p {
    margin: 0;
}

.info-type2 > div:first-child {
    margin-right: 15px;
    width: 150px;
}

.info-type2 > div:nth-child(2) {
    width: 100%;
}

#default-delivery {
    display: inline-block;
    padding: 5px;
    background-color: #c9c9c9;
    border-radius: 15px;
}

#bottom {
    display: flex;
}

#left {
    width: 70%;
}

#left > div {
    margin-top: 70px;
}

#right {
    width: 30%;
    height: 35%;
    padding: 15px;
    top: 0;
    position: sticky;
    z-index: 2;
    background-color: #fff;
}

#right > h3 {
    margin-top: 0;
}

#right-inner {
    height: 80%;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(242, 242, 242);
}

#point {
    width: 70%;
}

#right-inner > div,
#point > div,
#personal-info > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#point-input {
    height: 40px;
}

#point-input > input {
    width: 65%;
    padding-left: 10px;
}

#point-input > button {
    width: 30%;
}

#personal-info p {
    margin: 0;
}

#personal-info a {
    text-decoration: underline;
}

.personal-info-show {
    border: none;
    background-color: #fff;
    text-decoration: underline;
}

.personal-info-show:hover {
    cursor: pointer;
}

.big-modal,
.small-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.small-modal-border {
    width: 360px;
    height: 180px;
    margin: 15% auto auto;
    background-color: #fff;
    border-radius: 12px;
}

.small-modal-content {
    width: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.small-modal-content p {
    margin: 0;
}

.small-modal-buttons {
    display: flex;
    justify-content: space-between;
}

.small-modal-buttons button {
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 12px;
    background-color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #11967f;
}

.small-modal-buttons button:hover {
    cursor: pointer;
}

.big-modal-content {
    width: 30%;
    height: 80%;
    margin: 5% auto auto;
    background-color: #fff;
    border-radius: 12px;
}

.big-modal-content > h1 {
    display: block;
    margin: 0;
    padding: 30px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.big-modal-content > div {
    height: 77%;
}

.big-modal-content > button {
    display: block;
    width: 100%;
    height: 10%;
    border: 0;
    border-radius: 20px;
    background-color: #fff;
    font-size: 18px;
}

.big-modal-content > button:hover {
    cursor: pointer;
}

.personal-info-caution {
    font-size: 12px;
    letter-spacing: -0.5px;
}

#pay-button {
    display: block;
    margin: 100px auto;
    width: 240px;
    height: 60px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background: #11967f;
    border: 1px solid #11967f;
    border-radius: 3px;
}

#pay-button:hover {
    cursor: pointer;
}

#yellow-circle {
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(255, 191, 0);
    border-radius: 20px;
    font-size: 12px;
}

#coupon-list {
    width: 80%;
    padding-left: 10px;
    text-align: left;
}

.payment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 48px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    color: #4f4f4f;
    border-radius: 3px;
    border: 1px solid rgb(226, 226, 226);
    background: white;
}

.payment-button:hover {
    cursor: pointer;
}

.kakaopay {
    border: 1px solid rgb(246, 229, 0);
    background: rgb(246, 229, 0);
}

.credit-card {
    color: white;
    border: 1px solid #11967f;
    background: #11967f;
}