html,
body,
hr {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "sans-serif";
    font-weight: 500;
}

.background {
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.outer {
    width: 400px;
    height: 90%;
    padding: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
}

.inner {
    width: 100%;
    height: 100%;
}

.check {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.greeting {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.greeting span {
    font-weight: 600;
}

.info {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 5px;
    font-size: 14px;
}

.info div {
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.order-number {
    border-top: 1px solid #cdcdcd;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy {
    width: 16px;
    height: 16px;
}

.copy:hover {
    cursor: pointer;
}

hr {
    margin-bottom: 30px;
    border: none;
    height: 1px;
    background-color: #cdcdcd;
}

.payment-info {
    margin-bottom: 30px;
}

.payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.amount {
    font-size: 18px;
}

.point {
    text-align: right;
    color: #11967f;
}

.point div:nth-child(2) {
    font-size: 13px;
}

.notice {
    margin: 0 0 20px;
    padding: 0;
    color: #8e8e8e;
    font-size: 14px;
}

.notice span:nth-child(2) {
    margin-bottom: 5px;
}

.list {
    display: flex;
}

.list span {
    margin-right: 5px;
    color: #cfcfcf;
    font-size: 12px;
}

.buttons {
    width: 100%;
    height: 55px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 3px;
}

.buttons:hover {
    cursor: pointer;
}

.show-order {
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.go-shopping {
    background-color: #11967f;
    border: 1px solid #11967f;
    color: #ffffff;
}

.small-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.small-modal-border {
    width: 360px;
    height: 160px;
    margin: 15% auto auto;
    background-color: #fff;
    border-radius: 12px;
}

.small-modal-content {
    width: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

#small-modal-ok {
    display: block;
    width: 100%;
    height: 57px;
    border-radius: 12px;
    background-color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #11967f;
}

.small-modal-buttons button:hover {
    cursor: pointer;
}