<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.brokurly.domain.Member" alias="Member"/>
        <typeAlias type="com.brokurly.domain.Member" alias="MemberAndSignup"/>
        <typeAlias type="com.brokurly.domain.Order" alias="Order"/>
        <typeAlias type="com.brokurly.domain.Payment" alias="Payment"/>
        <typeAlias type="com.brokurly.domain.OrderAndPayment" alias="OrderAndPayment"/>
        <typeAlias type="com.brokurly.domain.ReceiverDetails" alias="ReceiverDetails"/>
        <typeAlias type="com.brokurly.domain.GoodsImage" alias="GoodsImage"/>
        <typeAlias type="com.brokurly.dto.PointLogExpDto" alias="PointLogExpDto"/>
        <typeAlias type="com.brokurly.dto.PointLogUsageDto" alias="PointLogUsageDto"/>
        <typeAlias type="com.brokurly.domain.Point" alias="Point"/>
        <typeAlias type="com.brokurly.dto.CategoryDto" alias="CategoryDto"/>
        <typeAlias type="com.brokurly.domain.Cart" alias="Cart"/>
        <typeAlias type="com.brokurly.domain.Goods" alias="Goods"/>
    </typeAliases>
</configuration>
