<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.brokurly.entity.member.Member" alias="Member"/>
        <typeAlias type="com.brokurly.entity.order.Order" alias="Order"/>
        <typeAlias type="com.brokurly.entity.order.Payment" alias="Payment"/>
        <typeAlias type="com.brokurly.entity.order.OrderAndPayment" alias="OrderAndPayment"/>
        <typeAlias type="com.brokurly.entity.order.ReceiverDetails" alias="ReceiverDetails"/>
        <typeAlias type="com.brokurly.entity.goods.GoodsImage" alias="GoodsImage"/>
        <typeAlias type="com.brokurly.dto.mypage.PointLogExpDto" alias="PointLogExpDto"/>
        <typeAlias type="com.brokurly.dto.mypage.PointLogUsageDto" alias="PointLogUsageDto"/>
        <typeAlias type="com.brokurly.dto.mypage.PointLogEarningDto" alias="PointLogEarningDto"/>
        <typeAlias type="com.brokurly.entity.mypage.Point" alias="Point"/>
        <typeAlias type="com.brokurly.entity.categories.Category" alias="Category"/>
        <typeAlias type="com.brokurly.entity.cart.Cart" alias="Cart"/>
        <typeAlias type="com.brokurly.entity.goods.Goods" alias="Goods"/>
        <typeAlias type="com.brokurly.dto.board.NoticeListDto" alias="NoticeListDto"/>
        <typeAlias type="com.brokurly.dto.board.NoticeBoardDto" alias="NoticeBoardDto"/>
        <typeAlias type="com.brokurly.dto.board.FAQListDto" alias="FAQListDto"/>
        <typeAlias type="com.brokurly.entity.board.Notice" alias="Notice"/>
        <typeAlias type="com.brokurly.entity.board.FAQBoard" alias="FAQBoard"/>
        <typeAlias type="com.brokurly.entity.board.FAQCate" alias="FAQCate"/>
        <typeAlias type="com.brokurly.entity.goods.ItemAnnouncement" alias="ItemAnnouncement"/>
        <typeAlias type="com.brokurly.entity.search.SearchKeyword" alias="SearchKeyword"/>
    </typeAliases>
</configuration>