
/*장바구니 담기 모달 시작*/
/*컬리상품 클릭시 모달창*/
.css-98q5jm {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}

.css-919eu4 {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    /* z-index: -1; */
}

.css-98q5jm .MuiDialog-container {
    -webkit-box-align: center;
    align-items: center;
}
.css-ekeie0 {
    height: 100%;
    outline: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.css-98q5jm .MuiDialog-paper {
    height: auto;
    width: 350px;
    overflow-x: hidden;
    padding: 30px;
    border-radius: 12px;
    box-shadow: none;
}

.css-uhb5lp {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    margin: 32px;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 64px);
    max-width: 600px;
}

.css-qfuix0 {
    width: 300px;
    height: 70px;
    display: flex;
    padding: 5px 0px 12px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgb(244, 244, 244);
    justify-content: center;
}

.css-96wx9m {
    flex: 0 0 50px;
    overflow: hidden;
    position: relative;
    height: 50px;
    margin-right: 14px;
    border-radius: 3px;
}

.css-1p7augg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    margin-top: 2px;
    word-break: break-all;
}

.css-1n9elca {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.css-hjdyv5 {
    overflow: hidden auto;
    max-height: 355px;
}

.css-kiebmq {
    padding: 12px 0px;
    border-radius: 3px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.css-1066lcq {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.css-rsi182 {
    font-size: 14px;
    line-height: 19px;
    color: rgb(51, 51, 51);
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.css-e7dd1m {
    font-size: 12px;
    line-height: 1.33;
    margin-top: 2px;
    color: rgb(102, 102, 102);
}

.css-2fwlel {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 5px;
}

.css-23v5d0 {
    padding-top: 3px;
}

.css-1kl4at5 {
    font-weight: bold;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 19px;
}

.css-pblsth {
    margin-left: 4px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(181, 181, 181);
    text-decoration: line-through;
    line-height: 16px;
    letter-spacing: -0.5px;
}

.css-2q9wxp {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 223, 225);
    border-radius: 3px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 88px;
    height: 30px;
}

.css-1e90glc {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iI0RERCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}

.css-6m57y0 {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-align: center;
    width: 31px;
    height: 28px;
    line-height: 28px;
}

.css-18y6jr4 {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
    vertical-align: top;
}

.css-1ovj4tx {
    padding: 14px 0px 20px;
}

.css-1fttcpj {
    display: flex;
    flex-direction: column;
}

.css-1066lcq {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.css-1sl7ome {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.css-1qdap1a {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.css-xq0an6 {
    margin-left: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    vertical-align: 3px;
}

.css-1toes8l {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.css-1toes8l button:first-of-type {
    margin-left: 0px;
}

.css-1toes8l button {
    width: 50%;
    margin: 0px 4px;
}

.modal-btn {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    /*border: 1px solid rgb(221, 221, 221);*/
}

.css-nytqmg {
    /*display: inline-block;*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
    margin-bottom: -40px;
    width: auto;
    height: 100%;
    border: none;
    padding: 0px 18px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    color : #11967f;

}

.css-1toes8l button:last-of-type {
    margin-right: 0px;
}

.css-1toes8l button {
    width: 50%;
    margin: 0px 4px;
}

.css-ahkst0 {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #11967f;
    border: 0px none;
}

.css-nytqmg {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

/*바뀐 -버튼*/
.css-8azp8 {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: none;
    font-size: 1px;
    color: transparent;
    background-size: cover;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
    vertical-align: top;
}
/*장바구니 모달 끝*/

