:root {
    --main-color: #11967f;
    --main-font: "Noto Sans KR", sans-serif;
    --main-border-radius: 3px;
    --main-border: 1px solid #11967f;
}
body {
    font-family: var(--main-font);
    heigth : 100vh;
    /*margin: 0;*/
    /*padding: auto;*/
}
section, #frm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: #333;
}

input[type="text"],
input[type="password"],
.register-div__btn {
    width: 333px;
    height: 46px;
}

input[type="text"],
input[type="password"]{
    border: 1px solid rgb(221, 221, 221);
    border-radius: var(--main-border-radius);
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
}

[type="radio"],[type="checkbox"] {
    vertical-align: middle;
    appearance: none;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

[type="radio"]:checked, [type="checkbox"]:checked {
    border: 0.6em solid #11967f;
}


[type="checkbox"]:hover{
    cursor: pointer;
}

input:focus {
    outline: 1px solid black;
}

.btn {
    width: 120px;
    height: 44px;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    background-color: white;
    color: var(--main-color);
    font-size: 14px;
    margin-left: 10px;
}

.line_div{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.birth-div {
    display: flex;
}

.birth-div__column {
    width: 333px;
    height: 46px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: var(--main-border-radius);
}

.birth-div__column > input,
.birth-div__column > span {
    width: 95px;
    height: 40px;
    border: transparent;
    color: rgb(102, 102, 102);
    text-align: center;
}

.register-div__label {
    /*display: inline-block;*/
    width: 139px;
    font-size: 14px;
    font-weight: 500;
}
.Required-entr-div {
    width: 610px;
    text-align: end;
    color: rgb(102, 102, 102);
    font-size: 12px;
    border-bottom: 2px solid rgb(51, 51, 51);
    padding-top: 40px;
    padding-bottom: 10px;
}
.register-btn {
    width: 240px;
    height: 56px;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;

}
.agreement-div {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    left: -20px;
}
.test_div{
    display: flex;
    flex-direction: column;
}

.register-header {
    font-size: 28px;
    font-weight: 500;
}

.Required-entr__label {
    color: red;
}

.line-div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.column-div {
    margin-top: 10px;
    display:flex;

}

::placeholder {
    font-size: 14px;
    padding: 0 11px 1px 0px;
}
.order-info__label {
    font-size: 12px;
    margin: 10px 145px 0;
    color: #666666;
}

.register-div__btn {
    margin-left: 0;
}

.birth-div {
    border-bottom: 1px solid rgb(51, 51, 51);
    padding-top: 20px;
    padding-bottom: 40px;
}

label {
    position: relative;
    left: 10px;
    font-size: 14px;
    color: #333333;
}

#agreement1 ~ label {
    font-size: 18px;
}

.agreement-div__column {
    padding: 8px 0;
}

.agreement-label {
    position: relative;
    left: 27px;
}
.agreement-label__chk {
    left:180px;
    color: var(--main-color);
}

.birth-div__column > *:focus {
    outline: none;
}

.id-info-div,
.name-info-div,
.email-info-div,
.email-infoSec-div,
.pwd-info-div,
.pwdChk-info-div,
.telNo-info-div,
.birth-info-div{
    display: flex;
    justify-content: center;
    padding-top: 4px;
    font-size: 13px;
    color: #ff0000;
    display: none;
    position: relative;
    left : 140px;
    z-index: -1;
}

.birth-info-div{
    left:0px;
}
/* modal css start */
.modal {
    position: absolute;
    display: none;

    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    padding: 0;
    z-index: 2;
}

.modal_content_body {
    position: absolute;

    padding: 40px;

    width: 320px;
    /*height: 66px;*/

    text-align: center;

    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    top: 50%;

    background-color: white;
    transform: translateY(-50%);
}

.modal_alert_body {
    position: absolute;

    background-color: white;
    padding: 0 40px;

    width: 320px;
    height: 56px;

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    top: 60%;

    transform: translateY(-50%);

    display: flex;
    justify-content: center;
}

.close-modal-btn {
    width: auto;
    font-size: 16px;
    border: none;
    padding: 5px 0 0 0;
    font-weight: 600;
    color: var(--main-color);
    background: transparent;
    cursor: pointer;
}

/* modal css end */


.gender-div {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

/* 인증번호 확인 */
#telNoChk-div{
    display: none;
    position: relative;
    left: 125px;

}

#telNo_btn,
#telNoChk_btn{
    disabled : true;
    color: #dddddd;
    border-color: #dddddd;

}
