/* COMMON  */
* {
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

body {
    /* 가로스크롤 x */
    overflow-x: hidden;
}

button {
    border-radius: 0;
    cursor: pointer;
    overflow: visible;
    background-color: transparent;
    border: none;
}

ul {
    list-style-type: none;
}

.checkbox {
    width: 1.8em;
    height: 1.8em;
    appearance: none;
    border-radius: 50%;
    border: 1px solid rgb(221, 221, 221);
    background: url(/resources/image/img-check-gray.png) no-repeat center;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox-checked {
    width: 1.8em;
    height: 1.8em;
    appearance: none;
    border-radius: 50%;
    background: #11967f url(/resources/image/img-check.png) no-repeat center center;
    border: 0;
}

/* TOP */
.top {
    width: 100%;
    padding: 50px 0px;
    margin-bottom: -20px;
    background-color: rgb(247, 247, 247);
}

.tiles {
    display: grid;
    grid-template-columns: 372px auto;
    width: 1050px;
    margin: 0px auto;
    gap: 4px;
}

.tiles .tile1 {
    display: flex;
    padding: 30px;
    grid-row: 1 / 3;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.tiles .tile1 .member {
    display: flex;
}

.tiles .tile1 .member .grade {
    min-width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: rgb(95, 0, 128);
    border: 1px solid rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
}

.tiles .tile1 .member .info {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 50%;
    min-height: 48px;
    margin-left: 20px;
}

.tiles .tile1 .member .info .name {
    display: block;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tiles .tile1 .member .info .grade-check {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.tiles .tile1 .member .info .grade-check .next-month,
span,
.all {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.tiles .tile1 .membership {
    width: calc(100% - 29px);
    padding: 15px;
    margin-top: 30px;
    background-color: rgb(247, 247, 247);
}

.tiles .tile1 .membership .kurly-members {
    display: flex;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.03em;
}

.tiles .tile1 .membership .kurly-members .new {
    width: 40px;
    height: 18px;
    margin-right: 8px;
    border-radius: 13px;
    font-size: 11px;
    letter-spacing: -0.3px;
    background-color: rgb(240, 63, 64);
    color: rgb(255, 255, 255);
    text-align: center;
}

.tiles .tile1 .membership .kurly-members .name {
    color: rgb(95, 0, 128);
}

.tiles .tile1 .membership .kurly-members .benefit {
    margin-left: 5px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.tiles .tile2 {
    display: flex;
    justify-content: space-evenly;
    column-gap: 4px;
    box-sizing: border-box;

    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.tiles .tile2 .box1 button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 26px 0px 30px 30px;
}

.tiles .title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}

.tiles .desc {
    font-weight: 700;
    font-size: 20px;
    color: rgb(95, 0, 128);
    margin-top: 20px;
}

.tiles .tile2 button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 26px 0px 30px 30px;
}

.tiles .tile3 {
    display: flex;
    justify-content: space-evenly;
    column-gap: 4px;
    background: rgb(255, 255, 255);
}

.event {
    width: 1050px;
    padding: 20px 0px 0px;
    margin: 0px auto;
}

/* BOTTOM */
.bottom {
    display: flex;
    width: 1050px;
    padding: 50px 0px 80px;
    margin: 0px auto;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.bottom .sidebar {
    width: 200px;
}

.bottom .sidebar .name {
    height: 75px;
    padding: 5px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}

.bottom .sidebar ul {
    border: 1px solid rgb(242, 242, 242);
    list-style-type: none;
}

.bottom .sidebar ul a.active,
.bottom .sidebar ul a:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
}

.bottom .sidebar ul a {
    cursor: pointer;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 15px 13px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 14px;
}

.bottom .sidebar .inquiry {
    width: 100%;
    height: 60px;
    padding: 0px 14px 0px 20px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250);
    line-height: 20px;
}

.bottom .sidebar .inquiry .wrapper {
    display: flex;
    flex-direction: column;
    color: rgb(51, 51, 51);
}

.bottom .sidebar .inquiry .wrapper .title {
    font-size: 14px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.bottom .sidebar .inquiry .wrapper .desc {
    font-size: 12px;
    color: rgb(51, 51, 51);
}

.bottom .content {
    width: 820px;
}

.bottom .content .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    justify-content: space-between;

    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

.bottom .content .header .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom .content .header h2 {
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
}

.bottom .content .header .desc {
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}

.bottom .content .header .add-new-deli {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* SUB-HEADER */
.bottom .content .sub-header {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-top: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
}

.bottom .content .sub-header .column {
    text-align: center;
    line-height: 20px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

/* DELI-LIST */
.bottom .content .deli-list ul {
    display: flex;
    flex-direction: column;
}

.bottom .content .deli-list li {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.bottom .content .deli-list .column {
    display: flex;
    align-items: center;
    min-height: 49px;
    padding: 0px;
    margin: 20px 0px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
    text-align: center;
}

.bottom .content .deli-list .column.default {
    justify-content: center;
    flex-basis: 60px;
}

.bottom .content .deli-list .column.address {
    flex: 1 1 0%;
    justify-content: start;
    font-size: 16px;
    text-align: left;
}

.bottom .content .deli-list .column.address .default-addr-icon {
    display: block;
    width: 74px;
    height: 22px;
    margin-bottom: 7px;
    border-radius: 11px;
    background-color: rgb(247, 247, 247);
    font-weight: 700;
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}

.bottom .content .deli-list .column.deli-to {
    justify-content: center;
    flex-basis: 120px;
}

.bottom .content .deli-list .column.tel-no {
    justify-content: center;
    text-align: center;
    flex-basis: 100px;
}

.bottom .content .deli-list .column.deli-type {
    justify-content: center;
    text-align: center;
    flex-basis: 100px;
}

.bottom .content .deli-list .column.deli-type span {
    color: rgb(95, 0, 128);
    font-size: 14px;
}

.bottom .content .deli-list .column.fix {
    justify-content: center;
    text-align: center;
    flex-basis: 60px;
}