html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

.css-14yglsw {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);
}

/* 아래 페이지 이동 바 공간*/
.css-1kbzkwh {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 60px 0px 30px;
}

/* 게시글 list의 번호 영역 */
.css-3o6rrk {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 50px;
}

/* 게시글 List의 제목 영역 */
.css-fzefrb {
    padding: 20px 0px 20px 20px;
    color: rgb(76, 76, 76);
    flex: 1 1 0%;
    text-align: left;
}

/* 게시글 List의 게시글 영역 */
.css-3d2kks {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 100px;
}

/* 게시글 list의 작성일 영역*/
.css-b1hszl {
    text-align: center;
    padding: 20px 0px;
    flex-basis: 100px;
    color: rgb(153, 153, 153);
}

/* 왼쪽 다른 CS Board 이동 탭 */
.css-g4g0eu.active, .css-g4g0eu:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(17,150,127);
    font-weight: 500;
}

/* 게시글 페이지 이동 버튼 */

.css-rzcdhr {
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(https://res.kurly.com/kurly/ico/2021/paging-prev-activated.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.css-rzcdhr:disabled {
    background-image: url(https://res.kurly.com/kurly/ico/2021/paging-prev-disabled.svg);
    cursor: default;
}

/* 이전, 다음 */
.css-7qb0sc {
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

/* 이전, 다음 */
.css-sxxs1g button + button {
    margin-left: 12px;
}

.css-1jwilit {
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(https://res.kurly.com/kurly/ico/2021/paging-next-activated.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.css-1jwilit:disabled {
    background-image: url(https://res.kurly.com/kurly/ico/2021/paging-next-disabled.svg);
    cursor: default;
}