<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.CategoryDao">
    <insert id="insert">
        INSERT INTO category_code
            (code_id, exp)
        VALUES (#{codeId}, #{exp})
    </insert>

    <sql id="select">
        SELECT * FROM category_code
    </sql>

<!--  카테고리 대분류 가져오기  -->
    <select id="selectMainExp" resultType="CategoryDto">
        <![CDATA[
        SELECT code_id, exp
        FROM category_code
        WHERE code_id < 1000
        ]]>
    </select>
    
    <select id="getCategoryExpById" resultType="CategoryDto">
        <include refid="select"/>
        WHERE code_id = #{codeId}
    </select>




</mapper>