<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.CategoryDao">
    <insert id="insert">
        INSERT INTO category_code
            (code_id, exp)
        VALUES (#{codeId}, #{exp})
    </insert>

<!--  카테고리 대분류 가져오기  -->
    <select id="selectMainExp" resultType="CategoryDto">
        <![CDATA[
        SELECT exp
        FROM category_code
        WHERE code_id < 1000
        ]]>
    </select>

<!--  카테고리 907 중분류  -->
    <select id="select907" resultType="String">
        SELECT exp
        FROM category_code
        WHERE code_id LIKE '9070%'
    </select>
</mapper>