<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.CategoryDao">

    <!--  READ  -->
    <sql id="select">
        SELECT *
        FROM category_code
    </sql>

    <!--  카테고리 대분류 가져오기  -->
    <select id="selectMain" resultType="Category">
        <![CDATA[
        SELECT code_id, exp
        FROM category_code
        WHERE code_id < 1000
        ]]>
    </select>

    <!--    카테고리 중분류 가져오기-->
    <select id="selectMiddle" resultType="Category">
        <include refid="select"/>
        WHERE code_id LIKE '${testcodeId}0__'
    </select>

</mapper>