<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.goods.GoodsDao">
    <!-- CREATE -->
    <insert id="insert">
        INSERT INTO item
        (item_id, name, exp, price, dc_rt, item_dc_amt, origin,
         point_fl, cpn_elg_fl, ship_type, seller_name, pkg_type, capa,
         sell_unit, adult_verif_fl, cate_code, item_qty, wish_cnt,
         bsns_no, item_spec, sell_cnt, rev_cnt)
        VALUES (#{itemId}, #{name}, #{exp}, #{price}, #{dcRt}, #{itemDcAmt}, #{origin},
                #{pointFl}, #{cpnElgFl}, #{shipType}, #{sellerName}, #{pkgType}, #{capa},
                #{sellUnit}, #{adultVerifFl}, #{cateCode}, #{itemQty}, #{wishCnt},
                #{bsnsNo}, #{itemSpec}, #{sellCnt}, #{revCnt})
    </insert>

    <insert id="addCart">
        INSERT INTO cart
            (item_id, cust_id, item_cnt)
        VALUES (#{itemId}, #{custId}, #{itemCnt})
    </insert>

    <insert id="insertAnnouncement">
        INSERT INTO item_announcement
            (item_id, item_ann, item_ann_cate)
        VALUES (#{itemId}, #{itemAnn}, #{itemAnnCate})
    </insert>

    <!-- READ -->
    <sql id="select">
        SELECT *
        FROM item
    </sql>

    <select id="selectByItemId" resultType="Goods">
        <include refid="select"/>
        WHERE item_id = #{itemId}
    </select>

    <select id="selectByBsnsNo" resultType="Goods">
        <include refid="select"/>
        WHERE bsns_no = #{bsnsNo}
    </select>


    <select id="selectGoodsListByCateCode" resultType="Goods">
        select item_id,
               name,
               exp,
               price,
               dc_rt,
               item_dc_amt,
               rev_cnt,
               ship_type
        from ITEM
        where cate_code LIKE CONCAT(#{cateCode}, '%')
            limit #{limit}
        offset #{start}
    </select>


    <select id="sortGoodsList" resultType="Goods">
        SELECT
        item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type
        FROM
        ITEM
        WHERE
        cate_code LIKE CONCAT(#{cateCode},'%')
        <if test="sortedType == 4">
            ORDER BY price - item_dc_amt ASC
        </if>
        <if test="sortedType == 5">
            ORDER BY price - item_dc_amt DESC
        </if>
        <if test="sortedType == 2">
            ORDER BY sell_cnt DESC
        </if>
        <if test="sortedType == 3">
            ORDER BY dc_rt DESC
        </if>
        <if test="sortedType == 1">
            ORDER BY reg_dt DESC
        </if>
        LIMIT #{limit} OFFSET #{start}
    </select>

    <!--리스트 중에 가장 낮은 가격의 상품-->
    <select id="getLowestPriceGoods" resultType="Goods">
        select item_id,
               name,
               exp,
               price,
               dc_rt,
               item_dc_amt,
               rev_cnt,
               ship_type
        from ITEM
        where cate_code LIKE CONCAT(#{cateCode}, '%')
        ORDER BY price ASC LIMIT 1;
    </select>

    <!--리스트 중에 가장 높은 가격의 상품-->
    <select id="getHighestPriceGoods" resultType="Goods">
        select item_id,
               name,
               exp,
               price,
               dc_rt,
               item_dc_amt,
               rev_cnt,
               ship_type
        from ITEM
        where cate_code LIKE CONCAT(#{cateCode}, '%')
        ORDER BY price DESC LIMIT 1;
    </select>


    <select id="goodsListByPriceFilter" resultType="Goods">
        select item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type
        from ITEM
        where cate_code LIKE CONCAT(#{cateCode},'%')
        <if test="filter.shipType1 == 1 ">
            AND (
            ship_type = '샛별배송'
            <if test="filter.shipType2 == 2">
                OR ship_type = '일반배송'
            </if>
            )
        </if>
        <if test="filter.shipType1 != 1 and filter.shipType2 == 2">
            AND ship_type = '일반배송'
        </if>

        <if test="filter.priceFilterNum == 1">
            AND price-item_dc_amt &lt; #{filter.price1}
        </if>
        <if test="filter.priceFilterNum == 2">
            AND price-item_dc_amt &gt;= #{filter.price1} AND price-item_dc_amt &lt; #{filter.price2}
        </if>
        <if test="filter.priceFilterNum == 3">
            AND price-item_dc_amt &gt;= #{filter.price2} AND price-item_dc_amt &lt; #{filter.price3}
        </if>
        <if test="filter.priceFilterNum == 4">
            AND price-item_dc_amt &gt;= #{filter.price3}
        </if>
        <if test="sortedType == 4">
            ORDER BY price - item_dc_amt ASC
        </if>
        <if test="sortedType == 5">
            ORDER BY price - item_dc_amt DESC
        </if>
        <if test="sortedType == 2">
            ORDER BY sell_cnt DESC
        </if>
        <if test="sortedType == 3">
            ORDER BY dc_rt DESC
        </if>
        <if test="sortedType == 1">
            ORDER BY reg_dt DESC
        </if>
        LIMIT #{limit} OFFSET #{start}
    </select>


    <select id="countGoodsListByPriceFilter" resultType="int">
        select count(*)
        from ITEM
        where cate_code LIKE CONCAT(#{cateCode},'%')
        <if test="filter.shipType1 == 1 ">
            AND (
            ship_type = '샛별배송'
            <if test="filter.shipType2 == 2">
                OR ship_type = '일반배송'
            </if>
            )
        </if>
        <if test="filter.shipType1 != 1 and filter.shipType2 == 2">
            AND ship_type = '일반배송'
        </if>
        <if test="filter.priceFilterNum == 1">
            AND price-item_dc_amt &lt; #{filter.price1}
        </if>
        <if test="filter.priceFilterNum == 2">
            AND price-item_dc_amt &gt;= #{filter.price1} AND price-item_dc_amt &lt; #{filter.price2}
        </if>
        <if test="filter.priceFilterNum == 3">
            AND price-item_dc_amt &gt;= #{filter.price2} AND price-item_dc_amt &lt; #{filter.price3}
        </if>
        <if test="filter.priceFilterNum == 4">
            AND price-item_dc_amt &gt;= #{filter.price3}
        </if>
        <if test="sortedType == 4">
            ORDER BY price - item_dc_amt ASC
        </if>
        <if test="sortedType == 5">
            ORDER BY price - item_dc_amt DESC
        </if>
        <if test="sortedType == 2">
            ORDER BY sell_cnt DESC
        </if>
        <if test="sortedType == 3">
            ORDER BY dc_rt DESC
        </if>
        <if test="sortedType == 1">
            ORDER BY reg_dt DESC
        </if>

    </select>


    <!--    검색할때 상품 리스트 출력 -->
    <select id="selectGoodsListByitemIdList" resultType="Goods" parameterType="java.util.List">
        select item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type
        from ITEM
        WHERE item_id IN
        <foreach item="item" index="index" collection="itemId" open="(" separator="," close=")">
            #{item}
        </foreach>
        limit #{limit} offset #{start}
    </select>

    <select id="getLowestPriceGoodsByitemIdList" resultType="Goods" parameterType="java.util.List">
        select item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type
        from ITEM
        WHERE item_id IN
        <foreach item="item" index="index" collection="itemId" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY price ASC
        LIMIT 1
    </select>

    <select id="getHighestPriceGoodsByitemIdList" resultType="Goods" parameterType="java.util.List">
        select item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type
        from ITEM
        WHERE item_id IN
        <foreach item="item" index="index" collection="itemId" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY price DESC
        LIMIT 1
    </select>

    <select id="countGoodsListByitemIdList" resultType="int" parameterType="java.util.List">
        select count(*)
        from ITEM
        WHERE item_id IN
        <foreach item="item" index="index" collection="itemId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="goodsListByIdListAndFilter" resultType="Goods" parameterType="java.util.List">
        select item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type
        from ITEM
        WHERE item_id IN
        <foreach item="item" index="index" collection="itemId" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="filter.priceFilterNum == 1">
            AND price-item_dc_amt &lt; #{filter.price1}
        </if>
        <if test="filter.priceFilterNum == 2">
            AND price-item_dc_amt &gt;= #{filter.price1} AND price-item_dc_amt &lt; #{filter.price2}
        </if>
        <if test="filter.priceFilterNum == 3">
            AND price-item_dc_amt &gt;= #{filter.price2} AND price-item_dc_amt &lt; #{filter.price3}
        </if>
        <if test="filter.priceFilterNum == 4">
            AND price-item_dc_amt &gt;= #{filter.price3}
        </if>
        <if test="sortedType == 4">
            ORDER BY price - item_dc_amt ASC
        </if>
        <if test="sortedType == 5">
            ORDER BY price - item_dc_amt DESC
        </if>
        <if test="sortedType == 2">
            ORDER BY sell_cnt DESC
        </if>
        <if test="sortedType == 3">
            ORDER BY dc_rt DESC
        </if>
        <if test="sortedType == 1">
            ORDER BY reg_dt DESC
        </if>
        LIMIT #{limit} OFFSET #{start}
    </select>

    <select id="countGoodsListByIdListAndFilter" resultType="int">
        select count(*)
        from ITEM
        WHERE item_id IN
        <foreach item="item" index="index" collection="itemId" open="(" separator="," close=")">
            #{item}
        </foreach>

        <if test="filter.priceFilterNum == 1">
            AND price-item_dc_amt &lt; #{filter.price1}
        </if>
        <if test="filter.priceFilterNum == 2">
            AND price-item_dc_amt &gt;= #{filter.price1} AND price-item_dc_amt &lt; #{filter.price2}
        </if>
        <if test="filter.priceFilterNum == 3">
            AND price-item_dc_amt &gt;= #{filter.price2} AND price-item_dc_amt &lt; #{filter.price3}
        </if>
        <if test="filter.priceFilterNum == 4">
            AND price-item_dc_amt &gt;= #{filter.price3}
        </if>
        <if test="sortedType == 4">
            ORDER BY price - item_dc_amt ASC
        </if>
        <if test="sortedType == 5">
            ORDER BY price - item_dc_amt DESC
        </if>
        <if test="sortedType == 2">
            ORDER BY sell_cnt DESC
        </if>
        <if test="sortedType == 3">
            ORDER BY dc_rt DESC
        </if>
        <if test="sortedType == 1">
            ORDER BY reg_dt DESC
        </if>

    </select>


    <!--    <select id="sortGoodsListByRegDate" resultType="Goods">-->
    <!--        select  item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type-->
    <!--        from ITEM-->
    <!--        where cate_code LIKE CONCAT(#{cateCode},'%')-->
    <!--        order by reg_dt desc-->
    <!--        limit #{limit} offset #{start}-->
    <!--    </select>-->

    <!--    <select id="sortGoodsListByLowPrice" resultType="Goods">-->
    <!--        select  item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type-->
    <!--        from ITEM-->
    <!--        where cate_code LIKE CONCAT(#{cateCode},'%')-->
    <!--        order by price-item_dc_amt asc-->
    <!--         limit #{limit} offset #{start}-->
    <!--    </select>-->

    <!--    <select id="sortGoodsListByHighPrice" resultType="Goods">-->
    <!--        select  item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type-->
    <!--        from ITEM-->
    <!--        where cate_code LIKE CONCAT(#{cateCode},'%')-->
    <!--        order by price-item_dc_amt desc-->
    <!--        limit #{limit} offset #{start}-->
    <!--    </select>-->

    <!--    <select id="sortGoodsListBySellCnt" resultType="Goods">-->
    <!--        select  item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type-->
    <!--        from ITEM-->
    <!--        where cate_code LIKE CONCAT(#{cateCode},'%')-->
    <!--        order by sell_cnt desc-->
    <!--        limit #{limit} offset #{start}-->
    <!--    </select>-->

    <!--    <select id="sortGoodsListByDcRt" resultType="Goods">-->
    <!--        select  item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type-->
    <!--        from ITEM-->
    <!--        where cate_code LIKE CONCAT(#{cateCode},'%')-->
    <!--        order by dc_rt desc-->
    <!--        limit #{limit} offset #{start}-->
    <!--    </select>-->

    <!--    <select id="countGoodsListByCateCode" resultType="int">-->
    <!--        select count(*)-->
    <!--        from ITEM-->
    <!--        where cate_code LIKE CONCAT(#{cateCode},'%')-->
    <!--    </select>-->

    <select id="countGoodsListByCateCode" resultType="int">
        select count(*)
        from ITEM
        where cate_code LIKE CONCAT(#{cateCode}, '%')
    </select>


    <select id="GoodsListByRegDate" resultType="Goods">
        SELECT
        item_id, name, exp, price, dc_rt, item_dc_amt, rev_cnt, ship_type
        FROM
        ITEM
        ORDER BY reg_dt DESC
        LIMIT #{limit} OFFSET #{start}
    </select>

    <select id="countGoodsListByRegDate" resultType="int">
        select count(*)
        from ITEM
        ORDER BY reg_dt DESC
    </select>

    <!--리스트 중에 가장 낮은 가격의 상품-->
    <select id="getLowestPriceGoodsByRegDate" resultType="Goods">
        select item_id,
               name,
               exp,
               price,
               dc_rt,
               item_dc_amt,
               rev_cnt,
               ship_type
        from ITEM
        ORDER BY price ASC LIMIT 1;
    </select>

    <!--리스트 중에 가장 높은 가격의 상품-->
    <select id="getHighestPriceGoodsByRegDate" resultType="Goods">
        select item_id,
               name,
               exp,
               price,
               dc_rt,
               item_dc_amt,
               rev_cnt,
               ship_type
        from ITEM
        ORDER BY price DESC LIMIT 1;
    </select>








    <!-- UPDATE -->
    <update id="update">
        UPDATE item
        SET name           = #{name},
            exp            = #{exp},
            price          = #{price},
            dc_rt          = #{dcRt},
            item_dc_amt    = #{itemDcAmt},
            origin         = #{origin},
            point_fl       = #{pointFl},
            cpn_elg_fl     = #{cpnElgFl},
            ship_type      = #{shipType},
            seller_name    = #{sellerName},
            pkg_type       = #{pkgType},
            capa           = #{capa},
            sell_unit      = #{sellUnit},
            reg_dt         = #{regDt},
            adult_verif_fl = #{adultVerifFl},
            cate_code      = #{cateCode},
            item_qty       = #{itemQty},
            wish_cnt       = #{wishCnt},
            bsns_no        = #{bsnsNo},
            item_spec      = #{itemSpec},
            sell_cnt       = #{sellCnt},
            rev_cnt        = #{revCnt},
            stdy_seller_fl = #{stdySellerFl}
        WHERE item_id = #{itemId}
    </update>

    <!-- DELETE -->
    <delete id="deleteByItemId">
        DELETE
        FROM item
        WHERE item_id = #{itemId}
    </delete>

</mapper>