<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.MemberDao">
    <!-- CREATE -->
<!--     useGeneratedKeys="true" keyProperty="bno"-->
    <insert id="insert">
        INSERT INTO customer
            (cust_id, pwd, name, email, tel_no, sex,
             birth_dt, reg_dt, adult_verif_dt, cart_cnt, point, consent)
        VALUES
            (#{custId}, #{pwd}, #{name}, #{email}, #{telNo}, #{sex},
             #{birthDt}, now(), #{adultVerifDt}, #{cartCnt}, #{point}, #{consent})
    </insert>

    <!-- READ -->
    <sql id="selectMember">
        SELECT cust_id,
               pwd,
               name,
               email,
               tel_no,
               sex,
               birth_dt,
               reg_dt,
               adult_verif_dt,
               cart_cnt,
               point,
               consent,
               act_stat,
               grade
        FROM customer
        WHERE custId = #{custId}
    </sql>

    <sql id="count">
        SELECT COUNT(*) FROM customer
        WHERE cust_id = #{custId}
    </sql>


    <!-- DELETE -->
    <delete id="deleteMember">
        DELETE FROM customer
        WHERE cust_id = #{custId}
    </delete>
</mapper>