<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.NoticeBoardDao">
    <!-- CREATE -->
    <insert id="insert">
        INSERT INTO notice_board
            (bno,title,hit,content,admin_id,noti_fl,pub_fl,reg_dt)
        VALUES
            (#{bno}, #{title}, #{hit}, #{content}, #{adminId}, #{notiFl}, #{pubFl}, #{regDt})
    </insert>

    <select id="selectAllPages" resultType="Notice">
        SELECT *
        FROM notice_board
        ORDER BY bno DESC, reg_dt DESC
    </select>

    <sql id="selectfFromNoticeBoard">
        SELECT *
        FROM notice_board
    </sql>

    <select id="selectBoardDetail" resultType="Notice">
        SELECT *
        FROM notice_board
        WHERE bno = #{bno}
    </select>

<!--    &lt;!&ndash; READ &ndash;&gt;-->
<!--    <sql id="select">-->
<!--        SELECT * FROM board-->
<!--    </sql>-->

<!--    <select id="selectPage" parameterType="NoticeListDto" resultType="NoticeListDto">-->
<!--        SELECT bno, title, admin_id, reg_dt-->
<!--        FROM notice_board-->
<!--        ORDER BY reg_date DESC, bno DESC-->
<!--        </select>-->

<!--    <sql id="count">-->
<!--        SELECT COUNT(*) FROM board-->
<!--    </sql>-->

<!--    <select id="selectAll" resultType="Board">-->
<!--        <include refid="select"/>-->
<!--        ORDERS LIMIT #{limit} OFFSET #{start}-->
<!--    </select>-->

<!--    <select id="selectByNumber" resultType="Board">-->
<!--        <include refid="select"/>-->
<!--        WHERE bno = #{bno}-->
<!--    </select>-->

<!--    <select id="selectByTitle" resultType="Board">-->
<!--        <include refid="select"/>-->
<!--        WHERE title LIKE CONCAT('%', #{title}, '%')-->
<!--    </select>-->

<!--    <select id="selectByWriter" resultType="Board">-->
<!--        <include refid="select"/>-->
<!--        WHERE writer = #{writer}-->
<!--    </select>-->

<!--    <select id="countAll" resultType="int">-->
<!--        <include refid="count"/>-->
<!--    </select>-->

<!--    &lt;!&ndash; UPDATE &ndash;&gt;-->
<!--    <update id="update">-->
<!--        UPDATE board-->
<!--        SET title = #{title}, content=#{content}, writer=#{writer}-->
<!--        WHERE bno = #{bno}-->
<!--    </update>-->

<!--    <update id="resetAutoIncrement">-->
<!--        ALTER TABLE board-->
<!--        AUTO_INCREMENT = 1-->
<!--    </update>-->

<!--    &lt;!&ndash; DELETE &ndash;&gt;-->
<!--    <delete id="deleteAll">-->
<!--        DELETE FROM board-->
<!--    </delete>-->

<!--    <delete id="deleteByNumber" parameterType="int">-->
<!--        DELETE FROM board-->
<!--        WHERE bno = #{bno}-->
<!--    </delete>-->

</mapper>