<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.order.OrderDao">
    <!-- CREATE -->
    <insert id="insert">
        INSERT INTO orders
        (order_id, cust_id, total_item_qty, total_price, total_dc_amt,
         order_amt, ship_fee, ship_loca_id, addr, ship_no)
        VALUES (#{orderId}, #{custId}, #{totalItemQty}, #{totalPrice}, #{totalDcAmt},
                #{orderAmt}, #{shipFee}, #{shipLocaId}, #{addr}, #{shipNo})
    </insert>

    <insert id="insertItemList">
        INSERT INTO order_item_list
            (order_id, item_id, item_qty, item_price, item_dc_price)
        VALUES (#{orderId}, #{itemId}, #{itemQty}, #{itemPrice}, #{itemDcPrice})
    </insert>

    <!-- READ -->
    <sql id="select">
        SELECT *
        FROM orders
    </sql>

    <select id="selectByCustId" resultType="Order">
        <include refid="select"/>
        WHERE cust_id = #{custId}
    </select>

    <select id="selectByCustIdWithJoin" resultType="OrderAndPayment">
        <include refid="select"/>
        JOIN payment
        ON payment.order_id = orders.order_id
        WHERE cust_id = #{custId}
    </select>

    <select id="selectByOrderId" resultType="Order">
        <include refid="select"/>
        WHERE order_id = #{orderId}
    </select>

    <select id="selectItemList" resultType="OrderItems">
        SELECT o.*, i.name item_name
        FROM order_item_list o
        INNER JOIN item i ON o.item_id = i.item_id
        WHERE order_id = #{orderId}
    </select>

    <!-- UPDATE -->
    <update id="updateOrderStatus">
        UPDATE orders
        SET order_stat = #{orderStat}
        WHERE order_id = #{orderId}
    </update>

    <!-- DELETE -->
    <delete id="deleteById">
        DELETE
        FROM orders
        WHERE order_id = #{orderId}
    </delete>
</mapper>