<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.ProductscreateDao">
    <!-- CREATE -->
    <insert id="insert">
        INSERT INTO item
            (item_id, name, exp, price, dc_rt, item_dc_amt, origin, point_fl, cpn_elg_fl, ship_type,
             seller_name, pkg_type, capa, sell_unit, adult_verif_fl, cate_code, item_qty,
             wish_cnt, bsns_no, item_spec, sell_cnt, rev_cnt, stdy_seller_fl)
        VALUES (#{itemId}, #{name}, #{exp}, #{price}, #{dcRt}, #{itemDcAmt}, #{origin}, #{pointFl},
                #{cpnElgFl}, #{shipType}, #{sellerName}, #{pkgType}, #{capa}, #{sellUnit},
                #{adultVerifFl}, #{cateCode}, #{itemQty}, #{wishCnt}, #{bsnsNo}, #{itemSpec},
                #{sellCnt}, #{revCnt}, #{stdySellerFl})
    </insert>

    <insert id="insertAnnouncement">
        INSERT INTO item_announcement
            (item_id, item_ann, item_ann_cate)
        VALUES (#{itemId},#{itemAnn},#{itemAnnCate})
    </insert>

    <insert id="insertSearchkeyword">
        INSERT INTO search_keyword
            (keyword, item_id_list)
    </insert>




</mapper>