<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brokurly.repository.search.SearchKeywordDao">
<!--    &lt;!&ndash; CREATE &ndash;&gt;-->
    <insert id="insert">
        INSERT INTO SEARCH_KEYWORD
            (keyword, item_id_list)
        VALUES
            (#{keyword}, #{itemIdList})
    </insert>

<!--    &lt;!&ndash; READ &ndash;&gt;-->
    <sql id="select">
        SELECT * FROM SEARCH_KEYWORD
    </sql>

</mapper>